/* .mycard{
 max-width: 20%;
} */

/* .maincontainer{
    max-width: 90%;
} */



#friendly {
    display: inline-grid;
    margin: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    /* margin: 8px; */
    /* height: 200px; */
    /* width: 210px; */
    width: 24%;

    padding: 0px;
    background: #FFF;
    box-shadow: 0px 0px 5px #555;
    filter: drop-shadow(0px 0px 5px #555);
    -webkit-filter: drop-shadow(0px 0px 5px #555);
    filter: drop-shadow(0px 0px 5px #555);
    border-radius: 10%;
}

a#friendly {
    color: inherit;
    text-decoration: none;
}

button#friendly:hover {
    color: green;
}

#cardprops {
    padding: 10px;
}

#username {
    font-size: 96%;
    font-family: "Arial, Helvetica,sans-serif";
    margin: 10%;
    text-align: center;
}


#avatar {
    margin-top: 16%;
    width: 45%;
    height: 45%;
    border-radius: 50%
}



@media (min-width: 576px) {
    body {
        background: red;
    }
    /* .maincontainer{
        width: 90%;
    } */
}

/* Medium devices (tablets) */

@media (min-width: 768px) {
    body {
        background: blue
    }
}

/* Large devices (desktops) */

@media (min-width: 992px) {
    body {
        background: green;
    }
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
    body {
        background: yellow;
    }
    .maincontainer{
        width: 52%;
    }
}

/* The given screen size or smaller */

/* Extra small devices (portrait phones)*/

@media (max-width: 575px) {
    body {
        background: coral;
    }
    
}